/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

p {
    color: rgb(46, 46, 46);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.container .text-muted {
    margin: 20px 0;
}

/* Thumbnail styles */

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

/* Google Map styles */

#map {
    height: 400px;
    width: 100%;
}

/* Campground show page delete button */

.delete-form {
    display: inline-block;
}

/* Flexbox grid fix */

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.my-header {
    background-image: url('../img/photo-1518623380242-d992d3c57b37.jpeg') !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.caption-full em {
    color: gray !important;
}

.lead,
.text-muted {
    color: gray !important;
}

/* Google Map */

#map {
    height: 400px;
    width: 100%;
}

.alert .alert-danger P {
    color: rgb(79, 79, 79) !important;
}
.alert .alert-success P {
    color: rgb(79, 79, 79) !important;
}

.titles h2 {
    color: rgb(79, 79, 79) !important;
    text-align: center !important;
}
.titles {
    color: rgb(255, 255, 255) !important;
    text-align: center !important;
}

.navbar-brand img {
    width: 50px;
    height: 50px;
    padding: 0;
}

.navbar-brand {
    padding: 0;
}

.navbar-default {
    background-color: #212121 !important;
    padding-left: 5rem;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a {
    background-color: #212121 !important;
    color: #e6e6e6;
    padding-left: 5rem;
}

.navbar-default .navbar-nav>li>a {
    color: #e6e6e6;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #ED6A2C;
    background-color: transparent;
}

.btn-primary {
    color: #fff;
    background-color: #ED6A2C;
    border-color: rgb(201, 86, 32);
}

.btn-primary:hover {
    color: #fff;
    background-color: rgb(255, 123, 57);
    border-color: rgb(179, 85, 38);
}

.navbar-default .navbar-nav>.active>a:hover {
    color: #ED6A2C !important;
    background-color: #e7e7e7;
}

